.venv/
__pycache__/
*.pyc
resources/resume_sections.tex
resources/resume.pdf
output/
resources/*.aux
resources/*.log
resources/*.out
resources/*.fls
resources/*.fdb_latexmk
resources/Manoj Ponagandla JavaPython Experis.pdf
my-content/
