[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prompt_toolkit = ">=3.0"
pyyaml = ">=6.0"
beautifulsoup4 = ">=4.12"
python-docx = ">=1.0"
requests = ">=2.28"
openai = "*"
langchain = "*"
langchain-core = "*"
langchain-openai = "*"
langchain-ollama = "*"
prompt-toolkit = "*"

[dev-packages]

[requires]
python_version = "3"
